.bg-icon6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon40 {
  position: relative;
  width: 21px;
  height: 21px;
}
.my-cart3 {
  position: absolute;
  top: 63.41%;
  left: 0;
  white-space: nowrap;
}
.cart3,
.vector-icon41 {
  position: absolute;
  height: 100%;
  width: 19.3%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.7%;
}
.vector-icon41 {
  height: 44%;
  width: 51.28%;
  right: 23.08%;
  bottom: 56%;
  left: 25.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.orders6,
.orders7 {
  position: absolute;
  top: 62.5%;
  left: 0;
}
.orders6 {
  height: 97.56%;
  width: 17.11%;
  top: 2.44%;
  right: 27.19%;
  bottom: 0;
  left: 55.7%;
}
.message7 {
  position: absolute;
  top: 62.5%;
  left: 0;
}
.vector-icon42 {
  position: relative;
  width: 20px;
  height: 20px;
}
.message6 {
  position: absolute;
  height: 97.56%;
  width: 22.81%;
  top: 2.44%;
  right: 50.88%;
  bottom: 0;
  left: 26.32%;
}
.profile7 {
  position: absolute;
  top: 63.41%;
  left: 0;
}
.vector-icon43 {
  position: relative;
  width: 20px;
  height: 19px;
}
.profile6 {
  position: absolute;
  height: 100%;
  width: 16.23%;
  top: 0;
  right: 83.77%;
  bottom: 0;
  left: 0;
}
.actions3 {
  height: 41px;
  width: 228px;
  position: relative;
  display: none;
  z-index: 1;
}
.background-icon12,
.search-form-child1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
}
.search-form-child1 {
  right: -2px;
  bottom: -2px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
}
.background-icon12 {
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon03 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  z-index: 1;
}
.forminput-groupinput-left3,
.text12 {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.text12 {
  font-size: var(--text-normal-size);
  font-family: var(--text-normal);
  color: var(--gray-500);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.forminput-groupinput-left3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-8xs) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  z-index: 2;
}
.background-icon13 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text13 {
  width: 130px;
  position: relative;
  font-size: var(--text-normal-size);
  font-family: var(--text-normal);
  color: var(--dark);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.text-frame {
  width: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.iconcontrolexpand-more12 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.forminput-groupinput-left-parent1,
.forminput-groupinput-midle3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.forminput-groupinput-midle3 {
  height: 40px;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-3xs);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin-left: -1px;
}
.forminput-groupinput-left-parent1 {
  flex: 1;
  max-width: 100%;
}
.background-icon14 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text14 {
  width: 54px;
  position: relative;
  font-size: var(--text-normal-size);
  font-weight: 500;
  font-family: var(--text-normal);
  color: var(--white);
  text-align: center;
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.buttonbasetext-md6,
.buttonbtn-group6,
.search-form3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.buttonbasetext-md6 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-smi);
  background-color: transparent;
}
.buttonbtn-group6,
.search-form3 {
  position: relative;
}
.buttonbtn-group6 {
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs);
}
.search-form3 {
  margin: 0;
  width: 665px;
  max-width: 100%;
}
.brand-icon6,
.brandlogo-symbol-icon6 {
  position: absolute;
  height: 45.87%;
  width: 51.33%;
  top: 26.09%;
  right: 15.87%;
  bottom: 28.04%;
  left: 32.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.brandlogo-symbol-icon6 {
  height: 95.65%;
  width: 29.33%;
  top: 2.17%;
  right: 71.33%;
  bottom: 2.17%;
  left: -0.67%;
  object-fit: contain;
}
.brandlogo-colored6 {
  height: 46px;
  width: 150px;
  position: relative;
  display: none;
  z-index: 3;
}
.layoutheader-alibaba3 {
  flex: 1;
  background-color: var(--color-peru);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-307xl) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--gray-500);
}
.ng-nhp6 {
  width: 121px;
  top: 21px;
  right: 39px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.image-127-icon4,
.ng-k7,
.ng-nhp6 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.image-127-icon4 {
  height: 50px;
  width: 135.3px;
  top: calc(50% - 25px);
  left: 117px;
  object-fit: cover;
}
.ng-k7 {
  width: 100px;
  top: 21px;
  right: 190px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.frame-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--text-normal);
}
.bg-icon7 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.border3 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--base-color-gray-200);
  box-sizing: border-box;
}
.iconcontrolmenu3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.nav18 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 77px;
}
.iconcontrolmenu-parent1,
.nav-wrapper15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-wrapper15 {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.iconcontrolmenu-parent1 {
  height: 24px;
  flex-direction: row;
  gap: var(--gap-7xs);
}
.nav19 {
  width: 0;
  height: 22px;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.nav-wrapper16 {
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.nav20 {
  width: 0;
  height: 22px;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.nav-wrapper17 {
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.nav21 {
  width: 0;
  height: 22px;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.nav-wrapper18 {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.nav22 {
  width: 0;
  height: 22px;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.nav-wrapper19 {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.nav23 {
  width: 0;
  height: 22px;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.nav-wrapper20 {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.iconcontrolexpand-more13 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.dropdown3,
.nav-list-wrapper1,
.nav-list3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.dropdown3 {
  height: 24px;
  width: 61px;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.nav-list-wrapper1,
.nav-list3 {
  max-width: 100%;
}
.nav-list3 {
  width: 620px;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.nav-list-wrapper1 {
  width: 880px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.fitness6 {
  position: absolute;
  top: 8.33%;
  left: 0;
  line-height: 22px;
  font-weight: 500;
}
.iconcontrolexpand-more14,
.imageflagsicon6 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.imageflagsicon6 {
  height: 66.67%;
  width: 19.13%;
  top: 20.83%;
  right: 28.7%;
  bottom: 12.5%;
  left: 52.17%;
  object-fit: cover;
}
.iconcontrolexpand-more14 {
  height: 100%;
  width: 20.87%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.13%;
}
.ship-to3 {
  width: 115px;
  height: 24px;
  position: relative;
  display: none;
  z-index: 3;
}
.fitness7 {
  position: absolute;
  top: 8.33%;
  left: 0;
  line-height: 22px;
  font-weight: 500;
}
.iconcontrolexpand-more15 {
  position: absolute;
  height: 100%;
  width: 19.35%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payment3 {
  width: 124px;
  height: 24px;
  position: relative;
  display: none;
  z-index: 4;
}
.layoutnavbar-alibaba-child1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--base-color-gray-200);
  box-sizing: border-box;
}
.layoutnavbar-alibaba3 {
  height: 56px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-base-5);
  max-width: 100%;
  color: var(--dark);
}
.tr-gip3,
.vn-bn-php4 {
  top: 17px;
  line-height: 22px;
  font-weight: 500;
}
.tr-gip3 {
  position: absolute;
  margin: 0 !important;
  right: 352px;
  display: inline-block;
  min-width: 65px;
  z-index: 2;
}
.vn-bn-php4 {
  right: 556px;
}
.doanh-nghip4,
.vector-icon44,
.vn-bn-php4 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.doanh-nghip4 {
  top: 17px;
  left: 576px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
}
.vector-icon44 {
  height: 7.4px;
  width: 12px;
  right: 336px;
  bottom: 23.6px;
}
.tin-tc3 {
  width: 65px;
  top: 17px;
  left: 458px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.tin-tc3,
.vector-icon45,
.video3 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.video3 {
  width: 65px;
  top: 17px;
  left: 340px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.vector-icon45 {
  height: 21px;
  width: 21px;
  top: -19px;
  left: 24px;
}
.gi-hng3 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
  z-index: 3;
}
.vector-parent4 {
  margin: 0 !important;
  position: absolute;
  top: 27px;
  left: 1282px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-500);
}
.frame-section,
.layoutnavbar-alibaba-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.layoutnavbar-alibaba-container {
  flex-direction: row;
  position: relative;
}
.frame-section {
  flex-direction: column;
  padding: 0 0 313px;
  box-sizing: border-box;
  gap: var(--gap-12xs);
  text-align: left;
  font-size: var(--text-normal-size);
  color: var(--color-black);
  font-family: var(--text-normal);
}
.ng-nhp-ti {
  margin: 0;
  height: 32.1px;
  width: 548px;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.ng-nhp-ti-khon-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-28xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child36,
.rectangle-input {
  border: 0;
  outline: 0;
  background-color: var(--white);
  height: 100.7px;
  width: 707px;
  position: absolute;
  margin: 0 !important;
  right: -211.4px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-input {
  top: -35.2px;
}
.frame-child36 {
  bottom: -37px;
}
.email2 {
  margin: 0;
  height: 185.5px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.password,
.rectangle-parent18 {
  align-self: stretch;
  position: relative;
}
.rectangle-parent18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.password {
  font-size: inherit;
  line-height: 22.2px;
  font-weight: 500;
  font-family: inherit;
  z-index: 2;
  margin: -24.4px 0 0;
}
.frame-parent48,
.frame-wrapper26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent48 {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper26 {
  width: 518.6px;
  flex-direction: row;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  font-size: var(--font-size-16xl);
  color: var(--color-gray-300);
}
.condition-checker,
.ghi-nh {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.condition-checker {
  height: 37.2px;
  width: 37px;
  border-radius: var(--br-11xs);
  background-color: var(--color-ghostwhite);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(58, 52, 52, 0.4);
  box-sizing: border-box;
}
.ghi-nh {
  margin: 0;
  align-self: stretch;
  height: 185.5px;
  font-size: inherit;
  line-height: 22px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.output-generator,
.sequence-controller {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sequence-controller {
  flex: 1;
  flex-direction: column;
  padding: 16.1px 0 0;
  box-sizing: border-box;
  min-width: 307px;
}
.output-generator {
  width: 534.8px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 27.2px;
}
.frame-child37 {
  height: 108.2px;
  width: 707px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.ng-nhp7,
.qun-mt-khu {
  font-family: inherit;
  display: inline-block;
}
.ng-nhp7 {
  margin: 0;
  width: 230.6px;
  position: relative;
  font-size: inherit;
  line-height: 24.3px;
  font-weight: 700;
  flex-shrink: 0;
  z-index: 1;
}
.qun-mt-khu {
  margin: 0 !important;
  height: 198.7px;
  width: 472.6px;
  position: absolute;
  top: -99.7px;
  right: -286.6px;
  font-size: var(--font-size-5xl);
  text-decoration: underline;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-orange);
  z-index: 2;
}
.rectangle-parent19 {
  width: 707px;
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-23xl) var(--padding-xl) 41.9px;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.ng-k-ngay {
  color: var(--color-orange);
}
.bn-cha-c-container {
  margin: 0;
  height: 185.5px;
  width: 590.4px;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.data-merger {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.function-caller1,
.input-processor1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.function-caller1 {
  display: flex;
  align-items: flex-start;
  gap: 35.8px;
  max-width: 100%;
  margin-top: -98.9px;
  font-size: var(--font-size-16xl);
  color: var(--color-floralwhite);
}
.input-processor1 {
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.frame-parent47,
.input-processor1,
.ng-nhp-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent47 {
  width: 717.4px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 111.2px;
}
.ng-nhp-inner {
  width: 1425.4px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 181.8px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-orange);
  font-family: var(--text-normal);
}
.for-users3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  font-weight: 500;
  color: var(--dark);
}
.login3,
.my-orders3,
.register3,
.settings3 {
  position: absolute;
  top: 23.9%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.my-orders3,
.register3,
.settings3 {
  top: 43.99%;
}
.my-orders3,
.settings3 {
  top: 64.15%;
}
.my-orders3 {
  top: 84.31%;
}
.col15 {
  width: 78px;
  height: 152.3px;
  position: relative;
  display: none;
}
.brand-icon7,
.brandlogo-symbol-icon7 {
  position: absolute;
  height: 45.98%;
  width: 51.33%;
  top: 26.05%;
  right: 15.87%;
  bottom: 27.97%;
  left: 32.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.brandlogo-symbol-icon7 {
  height: 95.79%;
  width: 29.33%;
  top: 2.11%;
  right: 71.33%;
  bottom: 2.11%;
  left: -0.67%;
  object-fit: contain;
}
.brandlogo-colored7 {
  height: 52.2px;
  width: 150px;
  position: relative;
  display: none;
}
.best-information-about3 {
  width: 276px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: none;
  flex-shrink: 0;
}
.icon-contactsocialfacebook33,
.icon-contactsocialinstagram33,
.icon-contactsociallinkedin33,
.icon-contactsocialtwitter33,
.icon-contactsocialyoutube33 {
  height: 36.3px;
  width: 32px;
  position: relative;
  min-height: 36px;
}
.icon-contactsocialfacebook3-parent1 {
  height: 36.3px;
  gap: var(--gap-3xs);
}
.brandlogo-colored-parent1,
.icon-contactsocialfacebook3-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link52 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.link53,
.link54,
.link55,
.link56 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.col16,
.path-finder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.path-finder {
  gap: var(--gap-6xs-7);
  flex-shrink: 0;
  debug_commit: f6aba90;
  color: var(--white);
}
.col16 {
  height: 152.3px;
  flex: 1;
  padding: 0 0 var(--padding-111xl-3);
  box-sizing: border-box;
  gap: var(--gap-mini-4);
  min-width: 152px;
}
.link57 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.link58 {
  display: inline-block;
  min-width: 71px;
}
.link58,
.link59,
.link60,
.link61 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.link-parent3 {
  flex-direction: column;
  gap: var(--gap-6xs-7);
  flex-shrink: 0;
  debug_commit: f6aba90;
  color: var(--white);
}
.col17,
.function-builder,
.link-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.col17 {
  height: 152.3px;
  flex-direction: column;
  padding: 0 0 var(--padding-111xl-3);
  box-sizing: border-box;
  gap: var(--gap-mini-4);
  min-width: 213px;
}
.function-builder {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-46xl);
}
.variable-holder {
  width: 512px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
  min-width: 512px;
  max-width: 100%;
  color: var(--dark);
}
.data-writer,
.network-connection {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.network-connection {
  width: 849px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.data-writer {
  width: 1107px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  color: var(--gray-600);
}
.background6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--dark);
}
.subtract-icon3 {
  position: absolute;
  height: 60.38%;
  width: 82.18%;
  top: 20.55%;
  right: 9.03%;
  bottom: 19.08%;
  left: 8.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.background7,
.group6,
.miscmarket-button6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background7,
.miscmarket-button6 {
  height: 32.56%;
  top: 28.74%;
  bottom: 38.7%;
}
.background7 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--dark);
}
.logo-icon3 {
  position: absolute;
  height: 58.7%;
  width: 82.74%;
  top: 20.75%;
  right: 8.47%;
  bottom: 20.55%;
  left: 8.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group7,
.miscmarket-button7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.miscmarket-button7 {
  height: 32.56%;
  top: 67.44%;
}
.get-app3 {
  position: absolute;
  top: 0;
  left: 0.81%;
  line-height: 22px;
  font-weight: 500;
}
.col18,
.link62 {
  color: var(--dark);
}
.col18 {
  width: 124px;
  height: 146.5px;
  position: relative;
  display: none;
}
.link62 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  font-weight: 500;
}
.link63,
.link64,
.link65,
.link66 {
  position: absolute;
  top: 23.9%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.link64,
.link65,
.link66 {
  top: 43.99%;
}
.link65,
.link66 {
  top: 64.15%;
}
.link66 {
  top: 84.31%;
}
.col19 {
  width: 90px;
  height: 152.3px;
  position: relative;
  display: none;
}
.graph-input-output {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--gray-200);
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
  max-width: 100%;
}
.imageflagsicon7 {
  outline: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
}
.wrapper-imageflagsicon2 {
  position: absolute;
  width: 22.43%;
  border: 0;
  background-color: transparent;
  height: 70.7%;
  top: 12.45%;
  right: 77.57%;
  bottom: 16.85%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.english3 {
  position: absolute;
  top: 0;
  left: 28.04%;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.iconcontrolexpand-less3 {
  position: absolute;
  height: 100%;
  width: 22.43%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 77.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.wrapper-imageflagsicon-container {
  position: absolute;
  height: 113.75%;
  width: 33.44%;
  top: 0;
  right: -267.5%;
  bottom: -13.75%;
  left: 334.06%;
  display: none;
}
.ecommerce3 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  height: 100%;
}
.payment-method-language3 {
  height: 24px;
  width: 320px;
  position: relative;
  display: none;
}
.graph-input-output-parent,
.layoutfooter-alibaba3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.graph-input-output-parent {
  height: 77.2px;
  flex-direction: row;
  text-align: right;
  color: var(--base-color-gray-800);
}
.layoutfooter-alibaba3 {
  background-color: var(--color-darkorange);
  flex-direction: column;
  padding: var(--padding-26xl-4) 0 0;
  box-sizing: border-box;
  gap: var(--gap-48xl-1);
}
.image-120-icon2 {
  width: 180px;
  height: 68px;
  top: 14px;
  right: 61px;
  object-fit: cover;
}
.image-110-icon2,
.image-120-icon2,
.kt-ni-vi3 {
  margin: 0 !important;
  position: absolute;
  z-index: 1;
}
.image-110-icon2 {
  width: 234px;
  height: 98px;
  top: 26px;
  left: 112px;
  object-fit: cover;
}
.kt-ni-vi3 {
  width: 300px;
  height: 33px;
  top: 153px;
  left: 94px;
  font-size: var(--font-size-5xl);
  line-height: 22px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
}
.link67 {
  right: 481px;
  bottom: 145px;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.link67,
.link68,
.link69 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.link68 {
  right: 503px;
  bottom: 120px;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.link69 {
  top: 45px;
  right: 289px;
  line-height: 22px;
  font-weight: 500;
  color: var(--dark);
}
.ringer-volume-icon3 {
  width: 50px;
  height: 50px;
  top: 86px;
  right: 392px;
  object-fit: cover;
}
.data-transformer1,
.graph-security,
.ringer-volume-icon3 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.graph-security {
  width: 1px;
  height: 51px;
  top: 85px;
  right: 380.5px;
  border-right: 1px solid var(--white);
  box-sizing: border-box;
}
.data-transformer1 {
  width: 169px;
  top: 98px;
  right: 195px;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.data-mapper,
.frame-child38 {
  position: relative;
  max-width: 100%;
}
.data-mapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-normal-size);
  color: var(--white);
  font-family: var(--text-normal);
}
.frame-child38 {
  width: 1440px;
  height: 317px;
  background-color: var(--gray-200);
  display: none;
}
.s-cng-thng3 {
  width: 311px;
  display: inline-block;
}
.a-ch-227b3,
.in-thoi-021838520583,
.s-cng-thng3 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  z-index: 2;
}
.in-thoi-021838520583 {
  display: inline-block;
  max-width: 100%;
}
.email-santmdthoabinhgmailco7 {
  margin: 0;
}
.email-santmdthoabinhgmailco6 {
  width: 271px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  z-index: 2;
}
.quyt-nh-thnh3 {
  margin: 0;
}
.chu-trch-nhim3,
.quyt-nh-thnh-container3 {
  width: 428px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.chu-trch-nhim3 {
  width: 572px;
}
.graph-layout-library {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 595px;
  max-width: 100%;
}
.graph-serialization-library {
  height: 111px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 2;
}
.more-info-icon3 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.graph-data-processing-library {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-9xl);
}
.v-chng-ti3 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 107px;
  z-index: 2;
}
.graph-deserialization-library,
.graph-serialization-library1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.graph-deserialization-library {
  height: 93px;
  gap: var(--gap-mini);
}
.graph-serialization-library1 {
  flex: 1;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 70px;
  flex-shrink: 0;
}
.graph-testing-library {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 2;
}
.graph-testing-library-wrapper {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.handshake-icon3 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.handshake-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-9xl);
}
.lin-kt3 {
  height: 28px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.frame-parent49,
.graph-serialization-library2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent49 {
  height: 93px;
  gap: var(--gap-mini);
}
.graph-serialization-library2 {
  flex: 1;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 70px;
  flex-shrink: 0;
}
.graph-serialization-library3 {
  height: 111px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 2;
}
.schedule-icon3 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.schedule-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-9xl);
}
.s-kin3 {
  height: 28px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.frame-parent50,
.graph-serialization-library4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent50 {
  height: 93px;
  gap: var(--gap-mini);
}
.graph-serialization-library4 {
  flex: 1;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 70px;
  flex-shrink: 0;
}
.graph-serialization-library5 {
  height: 111px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 2;
}
.test-execution-monitoring,
.test-result-analysis {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.test-execution-monitoring {
  width: 490px;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xl);
  min-width: 490px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.test-result-analysis {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-footer,
.ng-nhp5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-footer {
  align-self: stretch;
  background-color: var(--gray-200);
  padding: 0 var(--padding-69xl) var(--padding-60xl) var(--padding-70xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--text-normal-size);
  color: var(--color-black);
  font-family: var(--text-normal);
}
.ng-nhp5 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .layoutheader-alibaba3 {
    padding-left: var(--padding-144xl);
    padding-right: var(--padding-144xl);
    box-sizing: border-box;
  }
  .graph-layout-library {
    flex: 1;
  }
  .test-execution-monitoring {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .test-result-analysis {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .ng-nhp-inner {
    padding-bottom: 118px;
    box-sizing: border-box;
  }
  .graph-layout-library {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .layoutheader-alibaba3 {
    padding-left: var(--padding-62xl);
    padding-right: var(--padding-62xl);
    box-sizing: border-box;
  }
  .nav-list3 {
    flex-wrap: wrap;
  }
  .layoutnavbar-alibaba3 {
    height: auto;
  }
  .ng-nhp-ti {
    font-size: var(--font-size-13xl);
    line-height: 18px;
  }
  .ng-nhp-ti-khon-wrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .email2,
  .ng-nhp7,
  .password {
    font-size: var(--font-size-9xl);
    line-height: 18px;
  }
  .function-caller1 {
    gap: 18px 35.8px;
  }
  .frame-parent47 {
    gap: 56px 111.2px;
  }
  .ng-nhp-inner {
    padding-bottom: 77px;
    box-sizing: border-box;
  }
  .function-builder {
    gap: 65px 32px;
  }
  .variable-holder {
    flex: 1;
    min-width: 100%;
  }
  .network-connection {
    flex-wrap: wrap;
  }
  .layoutfooter-alibaba3 {
    gap: 34px 67.1px;
  }
  .graph-serialization-library,
  .graph-serialization-library3,
  .graph-serialization-library5 {
    width: 100%;
    height: 1px;
  }
  .test-execution-monitoring {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-footer {
    padding-left: var(--padding-25xl);
    padding-right: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .layoutheader-alibaba3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-section {
    padding-bottom: 203px;
    box-sizing: border-box;
  }
  .ng-nhp-ti {
    font-size: var(--font-size-5xl);
    line-height: 13px;
  }
  .email2,
  .password {
    font-size: var(--font-size-2xl);
    line-height: 13px;
  }
  .ghi-nh {
    font-size: var(--font-size-lgi);
    line-height: 18px;
  }
  .ng-nhp7 {
    font-size: var(--font-size-2xl);
    line-height: 13px;
  }
  .bn-cha-c-container,
  .qun-mt-khu {
    font-size: var(--font-size-lgi);
    line-height: 18px;
  }
  .frame-parent47 {
    gap: 28px 111.2px;
  }
  .col17 {
    flex: 1;
  }
  .function-builder {
    flex-wrap: wrap;
    gap: 65px 16px;
  }
  .layoutfooter-alibaba3 {
    gap: 17px 67.1px;
    padding-top: var(--padding-11xl);
    box-sizing: border-box;
  }
  .kt-ni-vi3 {
    font-size: var(--font-size-lgi);
    line-height: 18px;
  }
  .data-transformer1 {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .frame-footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
